<div class="container" style="padding-top: 110px;">
    <div *ngIf="!registerMode"   style="text-align: center;">
        <h1>Connect with Developers</h1>
        <p class="lead">Connect with other developers and grow your career... all you need is to sign up!</p>
        <div class="text-center" style="margin-top: 39px;">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-success btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>  
            </div>
        </div>    
    </div>
</div>