.dropdown-toggle, .dropdown-item {
    cursor: pointer;

}

img {
    max-height: 40px;
    border: 2px solid #fff;
    display: inline;
    margin-right: 8px;
}

.navbar-brand, .navbar-nav  {
    font-family: sans-serif;
}

.navbar-brand {
    font-size: 25px;
}
